@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
/* Edits made on W10 once I found the right project folder  */
header {
    background-color: orangered;
    border-bottom: 1px solid black;
    color: white;
}
body {
    margin: 10;
    padding: 5;
}
a:link {
    text-decoration: none;
    color: lightgreen;
}
.recipgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

main h1 {
    color: green;
    font-family: 'Zeyada', cursive;
    padding: 1px;
}
main h2 {
    color: black;
}
main h3 {
    color: green;

}
main h3:hover {
    background-color: red;
    box-shadow: 0 3px 4px 4px 4px red;
}
footer {
    margin: 10px;
    padding: 25px 0;
    background-color: lightgreen;
    color: black;
    box-shadow: 0 4px 4px 4px rgba(rgb(9, 230, 57), 0);
}
img:hover h3:hover {
    background-color: red;
}
img {
    height: 200px;
    box-shadow: inset;

}
.tableshade tr:nth-child(even) {
    background-color: lightgray;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}


#added some content for a git push
#opened and edited after pulling from a new clone named 2
#finished editing on mac for submit
